<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>

    
<div class="about content"> 
    <h2>About us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A veritatis, deleniti ad temporibus quisquam ipsa non delectus iste voluptas perspiciatis ab mollitia dolor. Neque doloremque sapiente necessitatibus fugit libero qui.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A veritatis, deleniti ad temporibus quisquam ipsa non delectus iste voluptas perspiciatis ab mollitia dolor. Neque doloremque sapiente necessitatibus fugit libero qui.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A veritatis, deleniti ad temporibus quisquam ipsa non delectus iste voluptas perspiciatis ab mollitia dolor. Neque doloremque sapiente necessitatibus fugit libero qui.</p>
</div>
<%- include('./partials/footer') %>
</body>
</html>