<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Welcome to Nightowl Technology | <%= title %></title>
	<link rel="stylesheet" href="/styles.css">

</head>
<body>
<nav>
    <div class="site-title">
        <a href="/"><h1>Nightowl Technology</h1></a>
        <p>This i s our blog site</p>
    </div>

	<li><a href="/">Home</a></li>
	<li><a href="/about">About us</a></li>
	<li><a href="/blogs/create/">New Blog</a></li>
</nav>

<div class="blogs content"> 
    <h2>All blogs</h2>
    <% try{ if (blogs.length>0) { %>
        <% blogs.forEach(blog =>{ %>
            <h3 class="title"><%= blog.title %></h3>
            <p class="snippet"><%= blog.snippet %></p>
    <%    })  %>
        
        <% } else{%>
            <p> No blogs to display :( </p>
        <% } %>
        <% }catch(err){ %>
            <p><%=err%></p>

            <% } %>
</div>

</body>
</html>